{% extends 'praticas/base.html' %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {% if LANGUAGE_CODE == 'en' %}
        Home | Climate Justice Platform
    {% elif LANGUAGE_CODE == 'es' %}
        Inicio | Plataforma de Justicia Clim&aacute;tica
    {% else %}
        In&iacute;cio | Plataforma de Justi&ccedil;a Clim&aacute;tica
    {% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'praticas/vendor/d3/d3-7.9.0.min.js' %}"></script>
<script src="{% static 'praticas/vendor/topojson/topojson-client-3.1.0.min.js' %}"></script>
<script src="{% static 'praticas/js/mapa-regional.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'praticas/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home-design">
    {% include 'praticas/includes/home_hero.html' %}
    {% include 'praticas/includes/home_institutional_messages.html' %}
    {% include 'praticas/includes/home_foundations.html' %}
    {% include 'praticas/includes/home_map_future.html' %}
    {% include 'praticas/includes/home_video_future.html' %}
</div>
{% endblock %}
